.btn {
  border-radius: 4px;
  border:  2px solid;
  box-shadow:  0 3px 0 black;

  &:active {
    background: #ccc;
    box-shadow: none;
    top: 3px;
    position: relative;
  }

  &:hover {
    background: #ddd;
  }
}

.btn-sm {
  font-size: 12px;
  padding: 2px 4px;
}