.button {
  background: hsl(0, 0%, 70%);
  border: none;
  color: white;
  border-radius: .5rem;
}

.button:hover, .button:active {
  background: hsl(0, 0%, 60%);
}

.btn-sm {
  font-size: 12px;
  padding: 2px 4px;
}

.button-group {
  display: flex;
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }
}

.button-primary {
  padding: 1rem 2rem;
  margin: 1rem;
}

.button-secondary {
  padding: .5rem 1rem;
}

.btn {
  font-size: .8rem;
  outline: none;
}

.btn-1 {
  padding: .1rem 1rem;
  color: hsl(0, 0%, 50%);
  border: 2px solid hsl(0, 0%, 90%);
}

.btn-1:hover {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 50%);
}

.btn-2 {
  color: hsl(0, 0%, 40%);
}

.btn-2:hover {

}

.btn-x {
  padding: .1rem 1rem;
  color: 	hsl(0, 71%, 66%);
  border: 2px solid hsl(0, 71%, 66%);
}

.btn-x:hover {
  background-color: hsl(0, 71%, 66%);
  color: hsl(0, 0%, 100%);
}

.button-home {
  font-size: .8rem;
  background-color: #008C39;
  margin: .5rem;
  font-weight: 600;
  padding: .75rem 2rem;
  border-radius: .4rem;
}

.button-home:hover {
  background-color: darken(#008C39, 3);
  transition-duration: 0.11s;
  color: #E6F4E4;
  // color: hsl(0, 71%, 66%);
}


.btn-green {
  background-color: #007D3A;
  color: white;
}

.btn-green:hover {
  background-color: #009B2B;
  color: white;
}


