.button {
  background: hsl(0, 0%, 70%);
  border: none;
  color: white;
  border-radius: .5rem;
}

.button:hover, .button:active {
  background: hsl(0, 0%, 60%);
}

.btn-sm {
  font-size: 12px;
  padding: 2px 4px;
}

.button-group {
  display: flex;
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }
}

.button-primary {
  padding: 1rem 2rem;
  margin: 1rem;
}

.button-secondary {
  padding: .5rem 1rem;
}