.container {
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
}

.bodyContainer {
  width: 980px;
  display: flex;
  padding-top: 2rem;
  height: 100vh;
}

.sidebar {
  width: 150px;
  margin-right: 15px;
}

.main {
  width: 550px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.variableGutter {
  background-color: hsl(0, 0%, 92%);
  flex: 1;
  padding: 1rem;
}