.container {
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
}

.top {
  display: flex;
}

.bottom {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  overflow: auto;
}

.container div {
  padding-right: 1rem;
}

.container input {
  padding: .3rem;
}