.container {
  width: 650px;
}

.nav {
  display: flex;
}

.navActions {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navToViewAll {
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  padding-right: 4rem;
  padding-top: .5rem;
  cursor: pointer;
}

.draftContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  display: flex;
  padding-right: 1rem;
  width: 650px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.draft {
  display: flex;
}

.avatarContainer {
  width: 100px;
}

.avatar {
  width: 50px;
  background-color: hsl(0, 0%, 88%);
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
}

.draftEditorContainer {
  width: 500px;
  border-radius: .2rem;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background-color: hsl(0, 0%, 96%);
  border-radius: .4rem;
}

.titleDraftContainer {
  display: flex;
  padding-top: 2rem;
}

.titleDraft {
  font-size: 1.6rem;
  color: hsl(0,0%, 20%);
}
.titleDraft textarea {
  height: 40px;
}

.content {
  padding: 1rem;
}

.titleTextArea {
  border: none;
  background: inherit;
  resize: none;
  outline: none;
}

.contentTextArea {
  border: none;
  background: inherit;
  resize: none;
  outline: none;
}

.draftActions {
  text-align: right;
  padding: 1rem 2rem;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
  font-size: .8rem;
}

.activityFeed {

}

.itemContainer {
  padding: 1rem 0;
  display: flex;
  padding-right: 1rem;
  width: 650px;
}

.item {
  width: 500px;
  border-radius: .2rem;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  background-color: hsl(0, 0%, 96%);
  border-radius: .4rem;
  position: relative;
}

.activityItemOptionsContainer{
  position: absolute;
  right: 1rem;
  top: -1rem;
  display: flex;
  border: 1px solid hsl(0, 0%, 82%);
  background: hsl(0, 0%, 92%);
  border-radius: 6px;
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
}

.expandOption {
  padding: .2rem .5rem;
  cursor: pointer;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  border-radius: 6px;
}

.expandOption:hover {
  background-color: hsl(0, 0%, 88%);
}

.highlightParentTitle {
  font-size: .8rem;
  padding: 1rem;
  cursor: pointer;
}

.highlightParentArrow {
  color: #009B2B;
  padding-right: .5rem;
}

.highlight {
  padding: 0 1rem;
  margin: 2rem;
  color: #2E7B21;
  border-left: .5rem solid hsl(89.7, 69%, 72%, 50%);
  line-height: 1.6em;
}

.parent {
  padding: 0 1rem;
}

.titleContainer {
  display: flex;
  padding-top: .5rem;
}

.bullet {
  margin: 1rem;
  display: absolute;
}

.bulletBorder {
  padding: 3px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 4rem;
}

.bulletCenter {
  padding: 3px;
  background-color: #009B2B;
  border-radius: 4rem;
}

.title {
  font-size: 1.6rem;
  color: hsl(0,0%, 20%);
  margin: .2rem .2rem .2rem 0;
}

.readOnly {
  word-wrap: break-word;
}

.authors {
  color: hsl(0, 0%, 70%);
  font-size: .8rem;
  display: flex;
  padding: 0 1rem;
}

.content {
  padding: 1rem;
}


.buttonContainer{
  display: flex;
  justify-content: space-around;
}

.upload {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  padding: 01rem;
}

.upload > div {
  padding-right: 1rem;
}

.hoverOnly {
  color: transparent;
}

.hoverOnly:hover {
  color: hsl(0, 0%, 70%);
}

a.link {
  text-decoration: none;
}

a.link:hover {
  font-size: 1.1rem;
}

