.container {
  height: 100vh;
  width: 100px;
  background-color: hsl(0, 0%, 90%);
}

.trunk {
  margin: 0 auto;
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: .3rem;
  background-color: hsl(0, 0%, 80%);
  position: relative;
  cursor: pointer;
}

.trunkTooltip {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(1rem, -50%);
  background-color: hsl(0, 0%, 40%);
  color: white;
  padding: .4rem;
  border-radius: .2rem;
  font-size: .8rem;
  width: max-content;
}

.trunkTooltip::before {
  content: '';
  position: absolute;
  border: .5rem solid transparent;
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  border-right-color: hsl(0, 0%, 40%);
}

.addTrunk {
  margin: 0 auto;
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: .3rem;
  background-color: hsl(0, 0%, 80%);
  text-align: center;
  font-size: 1.8rem;
  color: white;
  position: relative;
  cursor: pointer;
}

.addTrunkModal {
  z-index: 1;
  background: hsl(0, 0%, 96%);
  position: absolute;
  width: 400px;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 10%;
  margin: 10% auto 0;
  padding: 1rem 2rem;
  border: 1px solid hsla(0, 0%, 77%);
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.addTrunkModal div, .addTrunkModal input, .addTrunkModal button {
  margin: 1rem;
  padding: .2rem;
}

.exit {
  text-align: right;
  pointer: cursor;
}