.container{
  position: absolute;
  right: 1rem;
  top: -1rem;
  display: flex;
  border: 1px solid hsl(0, 0%, 82%);
  background: hsl(0, 0%, 92%);
  border-radius: 6px;
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
}

.option {
  padding: .2rem .5rem;
  cursor: pointer;
}

.option:hover {
  background-color: hsl(0, 0%, 88%);
}
