.container * {
  border: none;
  resize: none;
  background-color: inherit;
  outline: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1.69em;
}

.titleContainer * {
  border: none;
  overflow: auto;
  resize: none;
  background-color: inherit;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  overflow: auto;
}

.commentDraft * {
  border: none;
  overflow: auto;
  resize: none;
  background-color: inherit;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  max-height: 15vh;
}
