.container {
  background-color: hsla(0, 0%, 100%, 100%) !important;
  border: 3px solid hsl(0, 0%, 92%) !important;
  padding-top: 1rem;
  border-radius: .3rem;
}

.highlight {
  padding: 0 2rem;
  margin: 2rem;
  width: 80%;
  color: #2E7B21;
  background-color: transparent;
  border-left: .5rem solid hsl(89.7, 69%, 72%, 50%) ! important;
}

.meta {
  padding: 0 2rem;
  display: flex;
}

.title {
  padding: 0 2rem;
}

.content {
  padding: 0 2rem;
}

.deleteOptions {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.deleteOption {
  padding: .5rem;
  font-size: .8rem;
}

.deleteOption:hover {
  background-color: hsl(0, 0%, 70%);
}

.toggleDeleteOptions {
  text-align: right;
  padding: .5rem;
}

.arrowFloaterFooter {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-top: 3px solid hsl(0, 0%, 90%) !important;
  background-color: hsl(0, 0%, 97%) !important;
}

.replyForm {
  display: flex;
  flex-direction: column;
}

.replyTextarea {
  background-color: hsl(0, 0%, 96%) !important;
  margin: 1rem;
  padding: 1rem;
}

.actionContainer {
  display: flex;
  justify-content: right;
}

.actionContainer div {
  padding: .5rem 1rem;
  margin: .5rem 1rem;
}

.submitButton {
  background-color: hsl(0, 0%, 70%) !important;
}