.container {
  margin: 0 auto;
  background-color: hsl(0, 0%, 94%);
  padding: 2rem;
  overflow: auto;
}

.warning {
  text-align: right;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
}

.buttonContainer{
  text-align: center;
}

.button {
  padding: .5rem 1rem;
  margin: 0.5rem 0;
  background-color: hsl(0, 0%, 60%);
  color: white;
  border: none;
}

.button:hover {
  background-color: hsl(0, 0%, 55%);
}