.commentFloaterContainer {
  position: absolute;
  background: hsl(0, 0%, 90%);
  right: 10%;
  top: 40%;
  width: 400px;
  padding: 1rem;
  border: 1px solid hsla(0, 0%, 77%);
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
}

.selectedText {
  padding: 0 1rem;
  margin: 2rem;
  color: #2E7B21;
  border-left: .5rem solid hsl(89.7, 69%, 72%, 50%);
  font-size: .6rem;
}

.optionsContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 1rem;
  border: 1px solid hsl(0, 0%, 82%);
  background: hsl(0, 0%, 96%);
  margin-top: -2rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
}

.option {
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.option:hover {
  background-color: hsl(0, 0%, 90%);
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.searchResults {
  max-height: 20vh;
  overflow: auto;
  padding: 1rem 0;
}

.searchResult {
  text-align: left;
}

.searchResult:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 88%);
}