.container {
  /* border: 1px solid #ccc; */
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
}

.left {
  padding: 1rem;
  display: flex;
}

.right {
  padding: 1rem 2rem;
  width: 30vw;
  border: 1px solid #ccc;
  background-color: hsl(0, 0%, 96%);
  border-radius: .4rem;
  position: relative;
}

@media (max-width: 600px) {
  .left {
    display: none;
  }
  .right {
    width: 80vw;
  }
}

.avatarContainer {
  display: absolute;
  padding: 0 1rem;
}

.avatar {
  padding: 1.5rem;
  margin: 0 auto;
  background-color: hsl(0, 0%, 87%);
  border-radius: 2rem;
}

.metaData {
  color: hsl(0, 0%, 60%);
  font-size: .8rem;
}

.titleContainer {
  display: flex;
  padding-top: 1rem;
}

.bullet {
  margin: 1rem;
  display: absolute;
}

.bulletBorder {
  padding: 3px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 4rem;
}

.bulletCenter {
  padding: 3px;
  background-color: #009B2B;
  border-radius: 4rem;
}

.title {
  font-size: 1.6rem;
  color: hsl(0,0%, 20%);
  margin: .2rem .2rem .2rem 0;
}

.content {
  padding: 1rem;
}

.upload {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  padding: 01rem;
}

.upload > div {
  padding-right: 1rem;
}