.container {

}

.nav {
  width: 100vw;
  background-color: hsl(0, 0%, 70%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.search {
  padding: .5rem 1rem;
  border: none;
  background-color: hsl(0, 0%, 90%);
  outline: none;
  border-radius: .3rem;
}

.user {
  padding: .5rem 1rem;
}

.options {
  margin: 2rem auto;
  max-width: 600px;
}

.personalTrunk {
  text-align: center;
  cursor: pointer;
}

.welcome {
  background-color: hsl(0, 0%, 90%);
  border-radius: .4rem;
  padding: 2rem;
}

.mainTitle {
  padding: 1rem;
  font-weight: 500;
}

.personalTrunk {
  display: flex;
  flex-direction: column;
}

.welcomeContents {
  display: flex;
  flex-direction: column;
}

.clientInfo {
  font-size: 1.2rem;
}

.personalTrunkActions {
  display: flex;
  justify-content: center;
  padding: 2rem 0 4rem 0;
}

.personalTrunkActions div {
  padding: 0 1rem;
}

.otherOptions {
  border-top: 1px solid hsl(0, 0%, 80%);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.otherOptions div {
  background-color: hsl(0, 0%, 90%);
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: .4rem;
  text-align: center;
}

.title {
  font-weight: 500;
}

.browsepublicTrunks {

}

.description {
  font-size: .8rem;
}

.joinByInviteCode {

}
