.container {
  z-index: 1;
  background: hsl(0, 0%, 96%);
  position: absolute;
  width: 400px;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 10%;
  margin: 10% auto 0;
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid hsla(0, 0%, 77%);
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.roomInput {
  padding: .5rem 1rem;
  margin: 0.5rem 0rem;
}

.button {
  padding: .5rem 1rem;
  margin: 0.5rem 0;
  background-color: #0070f3;
  color: white;
  border: none;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
}

.lucky {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  color: hsl(0, 0%, 77%);
}


.title {
  text-align: left;
  /* padding: 1rem; */
}

.top {
  display: flex;
  justify-content: space-between;
  /* padding: 1rem; */
  padding-bottom: 1rem;
  padding-top: .5rem;
}

.btnEscape {
  border: none;
  background-color: transparent;

}