.container{
  overflow: auto;
}

.expandedEditorContainer {
  padding: 1rem;
  width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.resetItemID {
  padding: 1rem 2rem;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
}

.highlight {
  padding: 0 1rem;
  line-height: 1.6rem;
  margin: 2rem;
  color: #2E7B21;
  border-left: .5rem solid hsl(89.7, 69%, 72%, 50%);
}

.titleContainer {
  padding: .5rem 2rem 1rem 2rem;
  display: flex;
}

.content {
  padding: 0 2rem;
}

.itemID {
  padding: 1rem 3rem;
  font-size: .8rem;
  color: transparent;
}

.itemID:hover {
  color: hsl(0, 0%, 70%);
}

.bullet {
  margin: 1rem;
  display: absolute;
}

.bulletBorder {
  padding: 3px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 4rem;
}

.bulletCenter {
  padding: 3px;
  background-color: #009B2B;
  border-radius: 4rem;
}

.titleEditor {

}

.expand {
  color: hsl(0, 0%, 70%);
  padding-left: 1rem;
  cursor: pointer;
}

.meta {
  padding: 2rem;
}

.section {
  padding: 1rem 0;
}

.item {
  padding: 0 1rem;
}

.item:hover {
  background-color: hsl(0, 0%, 90%);
}

.parent {
  padding: 0 3rem;
}

.parentTitle {
  font-size: .8rem;
  cursor: pointer;
}

.parentArrow {
  color: #027B00;
}

.count {
  padding: 0 .5rem;
  color: hsl(0, 0%, 70%);
}

.mainSubItems {
  padding: 1rem;
}

.titleSubItem {
  font-size: 1.4rem;
  align-items: center;
}

.subItemTitleContainer {
  padding: .5rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.subItemContent {
  padding: 1rem 0;
}

.sectionHeader {
  padding: .5rem;
  margin: 1rem 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}


.commentItem {
  padding: .5rem 2rem;
}

.commentItem:hover {
  background-color: hsl(0, 0%, 90%);
}

.addArrow {
  display: flex;
  flex-direction: column;
}

.addArrowExit {
  padding: 0 1rem;
}

.authorInput {
  background-color: hsl(0, 0%, 90%);
  margin: 1rem 0;
  padding: 1rem 1rem 0 1rem
}

.authorActions {
  display: flex;
}

.searchResults {
  max-height: 20vh;
  overflow: auto;
  padding: 1rem 0;
}

.searchResult {
  text-align: left;
}

.searchResult:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 88%);
}