.container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: hsl(0, 0%, 90%);
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  width: 980px;
  height: 0px;
}

.sidebar {
  min-width: 150px;
  margin-right: 15px;
}

.main {
  min-width: 550px;
  margin-right: 15px;
}

.gutter {
  min-width: 250px;
  /* background-color: lightblue; */
}

.optionsContainer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 1rem;
  border: 1px solid hsl(0, 0%, 82%);
  background: hsl(0, 0%, 96%);
  margin-top: -2rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px hsla(0, 0%, 77%), 0 4px 20px hsla(0, 0%, 77%);
}


.option {
  padding: 1rem 1.4rem;
  cursor: pointer;
}

.option:hover {
  background-color: hsl(0, 0%, 90%);
}

.selectedText {
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  font-size: .8rem;
  color: #2E7B21;
  border-left: .2rem solid hsl(89.7, 69%, 72%, 50%);
  max-height: 20vh;
  overflow: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.searchResults {
  max-height: 20vh;
  overflow: auto;
  padding: 1rem 0;
  font-size: .8rem;
}

.searchResult {
  text-align: left;
}

.searchResult:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 88%);
}

.fakeInput {
  /* margin: 1rem 2rem; */
  color: hsl(0, 0%, 40%);
  font-size: .8rem;
  padding: 1rem 0;
  /* padding: 1rem; */
}

.arrowCreatorLabel {
  margin-bottom: .5rem;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
}

.arrowActions {
  font-size: .8rem;
  color: hsl(0, 0%, 30%);
  font-weight: 500;
  margin: .5rem 0;
  display: flex;
  justify-content: space-between;
  border: 2px solid hsl(0, 0%, 82%);
  border-radius: .4rem;
  box-shadow: 0 4px 20px hsla(0, 0%, 95%), 0 4px 20px hsla(0, 0%, 95%);
}

.left {
  margin: 0 auto;
  padding: .2rem 0;
  width: 33%;
  border-right: 2px solid hsl(0, 0%, 82%);
  text-align: center;
  cursor: pointer;
}

.middle {
  width: 33%;
  padding: .2rem 0;
  margin: 0 auto;
  border-right: 2px solid hsl(0, 0%, 82%);
  text-align: center;
  cursor: pointer;
}

.right {
  margin: 0 auto;
  padding: .2rem 0;
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.left:hover, .middle:hover, .right:hover {
  background-color: hsl(0, 0%, 88%);
}

.replyForm {
  /* background-color: hsl(0, 0%, 96%);
  margin: 1rem 0;
  padding: 1rem; */
}

.draftingContainerFake {
  font-size: .8rem;
  color: hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 96%);
  margin: 1rem 0;
  padding: 1rem;
}

.draftingContainer {
  background-color: hsl(0, 0%, 96%);
  margin: 1rem 0;
  padding: 1rem;
}
