.container * {
  border: none;
  resize: none;
  background-color: inherit;
  outline: none;
  font-size: 1rem;
  line-height: 1.6em;
}

.titleContainer * {
  border: none;
  resize: none;
  background-color: inherit;
  outline: none;
  font-size: 1.6rem;
}

.commentDraft * {
  border: none;
  resize: none;
  background-color: inherit;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  max-height: 15vh;
}

.arrowDraft * {
  border: none;
  resize: none;
  background-color: inherit;
  outline: none;
  font-size: .8rem;
}

.arrowTitle * {
  border: none;
  resize: none;
  outline: none;
  font-weight: bold;
  font-size: .9rem;
  padding: 0 1rem;
}

.arrowContent * {
  border: none;
  resize: none;
  outline: none;
  font-size: .8rem;
  padding: 0 1rem;
}

.arrowContent img {
  max-width: 100%;
  padding: 0;
}

.metadataEditor * {
  border: none;
  resize: none;
  outline: none;
  font-size: .8rem;
  padding: .5rem;
  background-color: hsl(0, 0%, 92%);
}