.container {
  min-width: 100vw;
  /* background-color: whitesmoke; */
  min-height: 100vh;
}

.grid {
  margin: 0 auto;
  max-width: 980px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 150px 550px 250px;
  grid-template-rows: 100px auto;
  gap: 15px;

  grid-template-areas:
    "nav nav nav"
    "sidebar main gutter";
}

.nav {
  grid-area: nav;
  /* background-color: papayawhip;
  border: 1px solid hsl(0, 0%, 85%); */
}

.sidebar {
  grid-area: sidebar;
  background-color: honeydew;
  border: 1px solid hsl(0, 0%, 85%);
  padding: 1rem;
}

.main {
  background-color: ivory;
  border: 1px solid hsl(0, 0%, 85%);
  grid-area: main;
  padding: 1rem;
}

.gutter {
  grid-area: gutter;
  background-color: mistyrose;
  border: 1px solid hsl(0, 0%, 85%);
  padding: 1rem;
}


@media (max-width: 600px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: 40px auto;
    grid-template-areas:
      "nav"
      "main";
  }

  .sidebar {
    display: none;
  }

  .gutter {
    display: none;
  }
}



.actionBanner {
  width: 100%;
  padding: 0;
}

.mainContainer {
  width: 550px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.mainHeader {
  min-height: 220px;
}

.input {
  font-size: .8rem;
  height: 20px;
  width: 50%;
}

.inputContainer {
  display: flex;
}

.title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.arrows div {
  padding: 1rem 0 ;
}

.expandedEditorContainer {
  padding: 1rem;
  width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.resetItemID {
  padding: 1rem 2rem;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
}

.highlight {
  padding: 0 1rem;
  line-height: 1.6rem;
  margin: 2rem;
  color: #2E7B21;
  border-left: .5rem solid hsl(89.7, 69%, 72%, 50%);
}

.titleContainer {
  padding: .5rem 2rem 1rem 2rem;
  display: flex;
}

.content {
}

.itemID {
  padding: 1rem 3rem;
  font-size: .8rem;
  color: transparent;
}

.itemID:hover {
  color: hsl(0, 0%, 70%);
}

.bullet {
  margin: 1rem;
  display: absolute;
}

.bulletBorder {
  padding: 3px;
  background-color: hsl(0, 0%, 90%);
  border-radius: 4rem;
}

.bulletCenter {
  padding: 3px;
  background-color: #009B2B;
  border-radius: 4rem;
}

.titleEditor {

}

.expand {
  color: hsl(0, 0%, 70%);
  padding-left: 1rem;
  cursor: pointer;
}

.meta {
}

.section {
  padding: 1rem 0;
}

.item {
  padding: .5rem 1rem;
  color: hsl(0, 0%, 40%);
  border: 2px solid transparent;
}

.item span {
  margin-right: .5rem;
}

.arrowTitle {
  font-weight: bold;
}

.item:hover {
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: .2rem;
}

.parent {
  padding: 0 3rem;
}

.parentTitle {
  padding-bottom: 1rem;
  font-size: .8rem;
  cursor: pointer;
}

.parentArrow {
  color: #027B00;
}

.count {
  padding: .1rem .5rem;
  color: black;
  background-color: hsl(0, 0%, 80%);
  border-radius: 1rem;
  margin-right: .5rem;
  font-size: .8rem;
}

.mainSubItems {
  padding: 1rem 0;
}

.titleSubItem {
  font-size: 1.4rem;
  align-items: center;
}

.subItemTitleContainer {
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
}

.subItemContent {
  padding: 1rem 0;
}

.sectionHeader {
  padding: .5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  font-weight: 500;
}


.commentItem {
  padding: .5rem 2rem;
}

.commentItem:hover {
  background-color: hsl(0, 0%, 90%);
}

.addArrow {
  display: flex;
  flex-direction: column;
}

.addArrowExit {
  padding: 0 1rem;
}

.authorInput {
  background-color: hsl(0, 0%, 90%);
  margin: 1rem 0;
  padding: 1rem 1rem 0 1rem
}

.authorActions {
  display: flex;
}

.searchResults {
  max-height: 20vh;
  overflow: auto;
  padding: 1rem 0;
}

.searchResult {
  text-align: left;
}

.searchResult:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 88%);
}

.highlightParentContainer{
  padding: 1rem 2rem;
}

.authorsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.authors {
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  cursor: pointer;
}

.upload {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
  color: hsl(0, 0%, 70%);
  padding: 1rem;
  padding-left: 3rem;
}

.upload > div {
  padding-right: 1rem;
}

.hoverOnly {
  color: transparent;
}

.hoverOnly:hover {
  color: hsl(0, 0%, 70%);
}

a.link {
  text-decoration: none;
}

a.link:hover {
  font-size: 1.1rem;
}

.hi {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  max-width: 980px;
  padding: 1rem 0;
  margin: 0 auto;
}

.banner {
  border: 1px solid #009B2B;
  font-size: .8rem;
  padding: 2rem;
  position: relative;
}

.bannerLogin {
  color: #009B2B;
  cursor: pointer;
}

.bannerAnon {
  color: #009B2B;
}


.option {
  padding: .75rem 1.25rem;
  font-weight: 500;
}

.parentTitle {
  font-size: .8rem;
  cursor: pointer;
}

.parentArrow {
  color: #027B00;
}

