.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  /* background-color: hsl(0, 0%, 98%); */
}

.navContainer {
  color: transparent;
  width: 980px;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
}

.navContainer:hover {
  color: black;
}

.bodyContainer {
  width: 980px;
  display: flex;
  padding: 2rem 0;
  flex: 1;
}

.sidebarContainer {
  width: 150px;
  margin-right: 15px;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
}

.top {
  position: absolute;
}

.mainContainer {
  width: 550px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;

}

.input {
  width: 500px;
  font-size: .8rem;
}

.inputContainer {
  display: flex;
}

.createdByContainer {
  display: flex;
  align-items: center;
}

.avatarContainer {
  width: 1rem;
  padding-right: 1rem;
  padding: .2rem 0;
  /* background-color: orange; */
}

.avatar {
  width: 2rem;
  background-color: hsl(0, 0%, 88%);
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
}

.createdBy {
  /* background-color: pink; */
  padding: 0rem 1rem;
  padding-left: 1.4rem;
  font-size: .8rem;
  flex: 1;
  font-weight: 500;
}

.profile {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 80%);
}

.online {
  position: absolute;
  margin-left: .5rem;
  margin-top: .5rem;
  width: .1rem;
  padding: .2rem;
  border-radius: .4rem;
  background-color: #2BD04F;
  border: .2px solid hsl(0, 0%, 96%);
}

.updatedAtContainer {
  font-size: .8rem;
  padding: .2rem 0;
}

.updatedAtLabel {
  color: hsl(0, 0%, 70%);
}

.metadataContainer, .viewPDFContainer, .shareItemContainer {
  padding: .2rem 0;
}

.arrowsCountContainer {
  display: flex;
  padding: .2rem 0;
}

.arrowsCount {
  padding: 0 .5rem;
  background-color: hsl(0, 0%, 70%);
  border-radius: 1rem;
  margin-right: .2rem;
}

.outlineMinimapContainer {
  padding-top: 4rem;
}

.bold {
  font-weight: 500;
}

.outlineContainer, .minimapContainer {
  padding-top: 1rem;
}

.title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.authors {
  color: hsl(0, 0%, 50%);
  font-size: .8rem;
  padding: 1rem 0;
  padding-bottom: 4rem;
}

.arrows div {
  padding: 1rem 0 ;
}